<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/JJS_Logo.png') }}">
        {% block extra_css %}{% endblock %}
        <title>{{ title }}</title>
    </head>

    <body>
        <header class="top-header">
            <div class="logo">Jujutsu Shenanigans Wiki</div>

            <div class="auth-block">
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="/profile">{{ current_user.name }} ({{ current_user.role }})</a>
                {% else %}
                    <p>
                        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                        <a class="btn btn-success" href="/login">Войти</a>
                    </p>
                {% endif %}
            </div>
        </header>

        <div class="top-nav-wrapper">
            <div class="top-nav-left">
                <a href="/secrets/authors">
                    <img src="{{ url_for('static', filename='img/JJS_Logo.png') }}" class="top-nav-logo">
                </a>
            </div>

            <div class="top-nav-right">
                <a href="https://www.roblox.com/share?code=01ed5e6f47adff4386d0817d65920e03&type=ExperienceDetails&stamp=1778410009790" class="top-nav-title">Jujutsu Shenanigans</a>

                <nav class="top-nav">
                    <ul class="nav-list">
                        <li class="dropdown">
                            <a href="/about" class="dropdown-link">About</a>
                            <ul class="dropdown-content">
                                <li class="dropdown-nested">
                                    <a href="/gamemodes" class="nested-link">Игровые Режимы</a>
                                        <ul class="nested-menu">
                                            <li><a href="/gamemodes/duels">Duels</a></li>
                                            <li><a href="/gamemodes/custom_servers">Custom Servers</a></li>
                                            <li><a href="/gamemodes/roulette">Roulette</a></li>
                                            <li><a href="/gamemodes/creator_clash">Creator Clash</a></li>
                                            <li><a href="/gamemodes/public_servers">Public Servers</a></li>
                                        </ul>
                                </li>

                                <li class="dropdown-nested">
                                    <a href="private_server" class="nested-link">Приватный сервер</a>
                                        <ul class="nested-menu">
                                            <li><a href="/private_server/server">Server</a></li>
                                            <li><a href="/private_server/moderation">Moderation</a></li>
                                            <li><a href="/private_server/workshop">Workshop</a></li>
                                            <li><a href="/private_server/players">Players</a></li>
                                        </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav-list">
                        <li class="dropdown">
                            <a href="/characters" class="dropdown-link">Characters</a>
                            <ul class="dropdown-content">
                                <li class="dropdown-nested">
                                    <a href="/characters/complete" class="nested-link">Complete</a>
                                        <ul class="nested-menu">
                                            <li><a href="/characters/Honored_One">Honored One</a></li>
                                            <li><a href="/characters/Vessel">Vessel</a></li>
                                            <li><a href="/characters/Restless_Gambler">Restless Gambler</a></li>
                                            <li>
                                                <a href="/characters/Ten_Shadows">Ten Shadows</a>
                                                <ul><li><a href="/characters/Mahoraga">Mahoraga</a></li></ul>
                                            </li>
                                            <li><a href="/characters/Perfection">Perfection</a></li>
                                            <li><a href="/characters/Blood_Manipulator">Blood Manipulator</a></li>
                                            <li><a href="/characters/Switcher">Switcher</a></li>
                                            <li><a href="/characters/Defense_Attorney">Defense Attorney</a></li>
                                            <li><a href="/characters/Cursed_Partners">Cursed Partners</a></li>
                                            <li><a href="/characters/Puppet_Master">Puppet Master</a></li>
                                            <li><a href="/characters/Head_of_the_Hei">Head of the Hei</a></li>
                                            <li><a href="/characters/Salaryman">Salaryman</a></li>
                                            <li><a href="/characters/Disaster_Plant">Disaster Plant</a></li>
                                            <li><a href="/characters/True_Cannon">True Cannon</a></li>
                                        </ul>
                                </li>

                                <li class="dropdown-nested">
                                    <a href="characters/base_only" class="nested-link">Base Only</a>
                                        <ul class="nested-menu">
                                            <li><a href="/characters/Locust_Guy">Locust Guy</a></li>
                                            <li><a href="/characters/Star_Rage">Star Rage</a></li>
                                            <li><a href="/characters/Aspiring_Mangaka">Aspiring Mangaka</a></li>
                                            <li><a href="/characters/Lucky_Coward">Lucky Coward</a></li>
                                            <li><a href="/characters/Crow_Charmer">Crow Charmer</a></li>
                                        </ul>
                                </li>

                                <li class="dropdown-nested">
                                    <a href="characters/overpowered_and_others" class="nested-link">Overpowered and Others</a>
                                    <ul class="nested-menu">
                                        <li><a href="/characters/Strongest_Of_History">Strongest of History</a></li>
                                        <li><a href="/characters/Monkey_Kid">Monkey Kid</a></li>
                                        <li><a href="/characters/Super_TZE">Super TZE</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-nested">
                                    <a href="characters/early_access" class="nested-link">Early Access</a>
                                    <ul class="nested-menu">
                                        <li><a href="/characters/Disaster_Plant">Disaster Plant</a></li>
                                        <li><a href="/characters/True_Cannon">True Cannon</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav-list">
                        <li class="dropdown">
                            <a href="/cash" class="dropdown-link">Cash</a>
                            <ul class="dropdown-content">
                                <li class="dropdown-nested">
                                    <a href="/cash/shop" class="nested-link">Shop</a>
                                        <ul class="nested-menu">
                                            <li><a href="/cash/shop/emotes">Emotes</a></li>
                                            <li><a href="/cash/shop/victory_flashes">Victory Flashes</a></li>
                                            <li><a href="/cash/shop/soda_delivery">Soda Delivery</a></li>
                                            <li><a href="/cash/shop/item_delivery">Item Delivery</a></li>
                                        </ul>
                                </li>

                                <li class="dropdown-nested">
                                    <a href="cash/gamepass" class="nested-link">Gamepass</a>
                                        <ul class="nested-menu">
                                            <li><a href="/cash/gamepass/early_access">Early Access</a></li>
                                            <li><a href="/cash/gamepass/more_emote_slots">More Emote Slots</a></li>
                                            <li><a href="/cash/gamepass/custom_kill_sound">Custom Kill Sound</a></li>
                                            <li><a href="/cash/gamepass/second_emote_page">Second Emote Page</a></li>
                                            <li><a href="/cash/gamepass/more_build_saves">More Build Saves</a></li>
                                            <li><a href="/cash/gamepass/awakening_outfits">Awakening Outfits</a></li>
                                        </ul>
                                </li>

                                <li class="dropdown-nested">
                                    <a href="cash/merh" class="nested-link">Merch</a>
                                </li>

                                <li class="dropdown-nested">
                                    <a href="cash/codes" class="nested-link">Codes</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav-list">
                        <li class="dropdown">
                            <a href="/settings" class="dropdown-link">Settings</a>
                            <ul class="dropdown-content">
                                <li class="dropdown-nested"><a href="/settings/general" class="nested-link">General</a></li>
                                <li class="dropdown-nested"><a href="/settings/controls" class="nested-link">Controls</a></li>
                                <li class="dropdown-nested"><a href="/settings/audio" class="nested-link">Audio</a></li>
                                <li class="dropdown-nested"><a href="/settings/perfomance" class="nested-link">Perfomance</a></li>
                                <li class="dropdown-nested"><a href="/settings/fun" class="nested-link">Fun</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav-list">
                        <li class="dropdown">
                            <a href="/backpack" class="dropdown-link">Backpack</a>
                            <ul class="dropdown-content">
                                <li class="dropdown-nested"><a href="/backpack/emotes" class="nested-link">Emotes</a></li>
                                <li class="dropdown-nested"><a href="/backpack/titles" class="nested-link">Titles</a></li>
                                <li class="dropdown-nested"><a href="/backpack/victories" class="nested-link">Victories</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav-list">
                        <li class="dropdown">
                            <a href="/achievements" class="dropdown-link">Achievements</a>
                            <ul class="dropdown-content">
                                <li class="dropdown-nested"><a href="/achievements/daily" class="nested-link">Daily</a></li>
                                <li class="dropdown-nested"><a href="/achievements/weekly" class="nested-link">Weekly</a></li>
                                <li class="dropdown-nested"><a href="/achievements/stats" class="nested-link">Stats</a></li>
                                <li class="dropdown-nested"><a href="/achievements/gamemodes" class="nested-link">Gamemodes</a></li>
                                <li class="dropdown-nested"><a href="/achievements/general" class="nested-link">General</a></li>
                                <li class="dropdown-nested"><a href="/achievements/honored_one" class="nested-link">Honored One</a></li>
                                <li class="dropdown-nested"><a href="/achievements/vessel" class="nested-link">Vessel</a></li>
                                <li class="dropdown-nested"><a href="/achievements/restless_gambler" class="nested-link">Restless Gambler</a></li>
                                <li class="dropdown-nested"><a href="/achievements/ten_shadows" class="nested-link">Ten Shadows</a></li>
                                <li class="dropdown-nested"><a href="/achievements/perfection" class="nested-link">Perfection</a></li>
                                <li class="dropdown-nested"><a href="/achievements/blood_manipulator" class="nested-link">Blood Manipulator</a></li>
                                <li class="dropdown-nested"><a href="/achievements/switcher" class="nested-link">Switcher</a></li>
                                <li class="dropdown-nested"><a href="/achievements/defence_attorney" class="nested-link">Defense Attorney</a></li>
                                <li class="dropdown-nested"><a href="/achievements/cursed_partners" class="nested-link">Cursed Partners</a></li>
                                <li class="dropdown-nested"><a href="/achievements/locust_guy" class="nested-link">Locust Guy</a></li>
                                <li class="dropdown-nested"><a href="/achievements/star_rage" class="nested-link">Star Rage</a></li>
                                <li class="dropdown-nested"><a href="/achievements/aspiring_mangaka" class="nested-link">Aspiring Mangaka</a></li>
                                <li class="dropdown-nested"><a href="/achievements/puppet_master" class="nested-link">Puppet Master</a></li>
                                <li class="dropdown-nested"><a href="/achievements/head_of_the_hei" class="nested-link">Head of the Hei</a></li>
                                <li class="dropdown-nested"><a href="/achievements/salaryman" class="nested-link">Salaryman</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        {% block content %}{% endblock %}
    </body>
</html>
