{% extends "base.html" %}

{% block content %}
    {% if type == "ol" %}
        <h2>Список профессий</h2>
        <ol>
            <li>инженер-исследователь</li>
            <li>пилот</li>
            <li>строитель</li>
            <li>экзобиолог</li>
            <li>врач</li>
            <li>инженер по терраформированию</li>
            <li>климатолог</li>
            <li>специалист по радиационной защите</li>
            <li>астрогеолог</li>
            <li>гляциолог</li>
            <li>инженер жизнеобеспечения</li>
            <li>метеоролог</li>
            <li>оператор марсохода</li>
            <li>киберинженер</li>
            <li>штурман</li>
            <li>пилот бронов</li>
        </ol>
    {% elif type == "ul" %}
        <h2>Список профессий</h2>
        <ul>
            <li>инженер-исследователь</li>
            <li>пилот</li>
            <li>строитель</li>
            <li>экзобиолог</li>
            <li>врач</li>
            <li>инженер по терраформированию</li>
            <li>климатолог</li>
            <li>специалист по радиационной защите</li>
            <li>астрогеолог</li>
            <li>гляциолог</li>
            <li>инженер жизнеобеспечения</li>
            <li>метеоролог</li>
            <li>оператор марсохода</li>
            <li>киберинженер</li>
            <li>штурман</li>
            <li>пилот бронов</li>
        </ul>
    {% else %}
        <h2>Непредусмотренный аргумент</h2>
        <img src="/static/img/errorPereputal.jpg" alt="Мой косяк, картинка сломалась">
    {% endif %}
{% endblock %}