{% extends "base.html" %}

{% block content %}

<div role="main" class="page-wrapper">
    <main class="content">
         <h2>Ваш профиль</h2>

        <div style="margin-bottom: 20px;">
            <img src={{ image }} alt="Фото профиля"
                 style="width: 180px; height: 180px; object-fit: cover; border-radius: 10px; border: 2px solid #333;">
        </div>
        <a class="btn btn-secondary" href="/profile/download_photo">Загрузить фото</a>
        <br>
        <br>

        <p><strong>Имя:</strong> {{ user.name }}</p>
        <p><strong>Роль:</strong> {{ user.role }}</p>

        <p><strong>Email:</strong> {{ user.email }}</p>

        <a class="btn btn-primary" href="/profile/became_Admin">Подать заявку на становление администратором</a>
        <br>
        <br>
        <a class="btn btn-danger" href="/logout">Выйти</a>
    </main>
</div>

{% endblock %}