{% extends "base.html" %}

{% block content %}

        <div role="main" class="page-wrapper">
            <main class="content">
                <h1 class="page-title">Добро пожаловать в Jujutsu Shenanigans Wiki!</h1>
                <p class="lead">
                    Этот сайт поможет вам ближе познакомиться с игрой в Roblox под названием Jujutsu Shenanigans.
                </p>

                <h2>Об игре</h2>
                <p>
                    Данная игра принадлежит к классу плейсов, именуемыми "Battleground". Это режимы, в которых
                    основная механика - сражения. Но Jujutsu Shenanigans выделяется из скучной массы таких плейсов.
                    Разработчики добавили, добавляют и будут добавлять различные игровые режимы, механики, предметы.
                    Ведь не зря Jujutsu Shenanigans переводится, как Jujutsu (в честь аниме, по которому сделана эта игра
                    Jujutsu Kaisen) штучки. И самое важное, главная цель TZE(главного разработчика) и его команды -
                    это заставить всех играющих в эту игру веселиться)) .
                </p>

                <h2>Официальные источники</h2>
                <h4>Администрация(основные)</h4>
                <ul>
                    <li><a href="https://discordapp.com/users/1504168015007055942" onclick="return confirm('Данный сайт не имеет никакого отношения к данному сайту, вы уверены, что хотите перейти по ссылке?');">TZE</a></li>
                </ul>
                <ul>
                    <li><a href="https://discordapp.com/users/1504168530327638137" onclick="return confirm('Данный сайт не имеет никакого отношения к данному сайту, вы уверены, что хотите перейти по ссылке?');">frost</a></li>
                </ul>
                <ul>
                    <li><a href="https://discordapp.com/users/1504172003731701933" onclick="return confirm('Данный сайт не имеет никакого отношения к данному сайту, вы уверены, что хотите перейти по ссылке?');">imed</a></li>
                </ul>
                <ul>
                    <li><a href="https://discordapp.com/users/1504174637662212126" onclick="return confirm('Данный сайт не имеет никакого отношения к данному сайту, вы уверены, что хотите перейти по ссылке?');">Alserex</a></li>
                    <li><a href="https://discordapp.com/users/1504172263405125813" onclick="return confirm('Данный сайт не имеет никакого отношения к данному сайту, вы уверены, что хотите перейти по ссылке?');">Heat</a></li>
                </ul>
                <ul>
                    <li><a href="https://discordapp.com/users/1504172526614351967" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">Chad Fish</a></li>
                    <li><a href="https://discordapp.com/users/1504172679677083679" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">f THEY/THEM</a></li>
                    <li><a href="https://discordapp.com/users/1504172997211197520" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">Splosion</a></li>
                </ul>
                <ul>
                    <li><a href="https://discordapp.com/users/1504173260768673903" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">dune</a></li>
                    <li><a href="https://discordapp.com/users/1504173582601945098" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">Florence Williams</a></li>
                    <li><a href="https://discordapp.com/users/1504173855885885500" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">Kyro</a></li>
                </ul>

                <h4>Ссылки</h4>
                <ul>
                    <li><a href="https://www.roblox.com/share?code=01ed5e6f47adff4386d0817d65920e03&type=ExperienceDetails&stamp=1778694536425" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">Сама игра)</a></li>
                    <li><a href="https://www.roblox.com/share/g/16357742" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">Группа в Roblox</a></li>
                    <li><a href="https://discord.gg/thezs" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">Официальный дискорд канал</a></li>
                    <li><a href="https://www.youtube.com/@ShenanigansOST" onclick="return confirm('Данный сайт не имеет никакого отношения к данному, вы уверены, что хотите перейти по ссылке?');">Ютуб канал с музыкой</a></li>
                </ul>

                <h2>Страницы</h2>
                <ul>
                    <li><a href="/about">About</a>
                        <ul>
                            <li><a href="/gamemodes">Игровые режимы</a></li>
                            <ul>
                                <li><a href="/gamemodes/duels">Duels</a></li>
                                <li><a href="/gamemodes/custom_servers">Custom Servers</a></li>
                                <li><a href="/gamemodes/roulette">Roulette</a></li>
                                <li><a href="/gamemodes/creator_clash">Creator Clash</a></li>
                                <li><a href="/gamemodes/public_servers">Public Servers</a></li>
                            </ul>

                            <li><a href="/private_server">Приватный сервер</a></li>
                            <ul>
                                <li><a href="/private_server/server">Server</a></li>
                                <li><a href="/private_server/moderation">Moderation</a></li>
                                <li><a href="/private_server/workshop">Workshop</a></li>
                                <li><a href="/private_server/players">Players</a></li>
                            </ul>
                        </ul>

                    </li>

                    <li><a href="/characters">Персонажи</a>
                        <ul>
                            <li><a href="/characters/complete">Complete</a></li>
                            <ul>
                                <li><a href="/characters/Honored_One">Honored One</a></li>
                                <li><a href="/characters/Vessel">Vessel</a></li>
                                <li><a href="/characters/Restless_Gambler">Restless Gambler</a></li>
                                <li><a href="/characters/Ten_Shadows">Ten Shadows</a></li>
                                    <ul><li><a href="/characters/Ten_Shadows/Mahoraga">Mahoraga</a></li></ul>
                                <li><a href="/characters/Perfection">Perfection</a></li>
                                <li><a href="/characters/Blood_Manipulator">Blood Manipulator</a></li>
                                <li><a href="/characters/Switcher">Switcher</a></li>
                                <li><a href="/characters/Defense_Attorney">Defense Attorney</a></li>
                                <li><a href="/characters/Cursed_Partners">Cursed Partners</a></li>
                                <li><a href="/characters/Puppet_Master">Puppet Master</a></li>
                                <li><a href="/characters/Head_of_the_Hei">Head of the Hei</a></li>
                                <li><a href="/characters/Salaryman">Salaryman</a></li>
                                <li><a href="/characters/Disaster_Plant">Disaster Plant</a></li>
                                <li><a href="/characters/True_Cannon">True Cannon</a></li>
                            </ul>
                            <li><a href="/characters/base_only">Base Only</a></li>
                                <ul>
                                    <li><a href="/characters/Locust_Guy">Locust Guy</a></li>
                                    <li><a href="/characters/Star_Rage">Star Rage</a></li>
                                    <li><a href="/characters/Aspiring_Mangaka">Aspiring Mangaka</a></li>
                                    <li><a href="/characters/Lucky_Coward">Lucky Coward</a></li>
                                    <li><a href="/characters/Crow_Charmer">Crow Charmer</a></li>
                                </ul>
                            <li><a href="/characters/overpowered_and_others">Overpowered and Others</a></li>
                                <ul>
                                    <li><a href="/characters/strongest_of_history">Strongest of History</a></li>
                                    <li><a href="/characters/monkey_kid">Monkey Kid</a></li>
                                    <li><a href="/characters/TZE">Super TZE</a></li>
                                </ul>
                            <li><a href="/characters/early_access">Early Access</a></li>
                                <ul>
                                    <li><a href="/characters/Disaster Plant">Disaster Plant</a></li>
                                    <li><a href="/characters/True_Cannon">True Cannon</a></li>
                                </ul>
                        </ul>
                    </li>

                    <li><a href="/cash">Cash</a>
                        <ul>
                            <li><a href="/cash/complete">Shop</a></li>
                            <ul>
                                <li><a href="/cash/shop/emotes">Emotes</a></li>
                                <li><a href="/cash/shop/victory_flashes">Victory Flashes</a></li>
                                <li><a href="/cash/shop/soda_delivery">Soda Delivery</a></li>
                                <li><a href="/cash/shop/item_delivery">Item Delivery</a></li>
                            </ul>
                            <li><a href="/cash/gamepass">Gamepass</a></li>
                                <ul>
                                    <li><a href="/cash/gamepass/early_access">Early Access</a></li>
                                    <li><a href="/cash/gamepass/more_emote_slots">More Emote Slots</a></li>
                                    <li><a href="/cash/gamepass/custom_kill_sound">Custom Kill Sound</a></li>
                                    <li><a href="/cash/gamepass/second_emote_page">Second Emote Page</a></li>
                                    <li><a href="/cash/gamepass/more_build_saves">More Build Saves</a></li>
                                    <li><a href="/cash/gamepass/awakening_outfits">Awakening Outfits</a></li>
                                </ul>
                            <li><a href="/cash/merch">Merch</a></li>
                            <li><a href="/cash/codes">Codes</a></li>
                        </ul>
                    </li>

                    <li><a href="/settings">Settings</a>
                        <ul>
                            <li><a href="/settings/general">General</a></li>
                            <li><a href="/settings/controls">Controls</a></li>
                            <li><a href="/settings/audio">Audio</a></li>
                            <li><a href="/settings/perfomance">Perfomance</a></li>
                            <li><a href="/settings/fun">Fun</a></li>
                        </ul>
                    </li>

                    <li><a href="/backpack">Backpack</a>
                        <ul>
                            <li><a href="/backpack/emotes">Emotes</a></li>
                            <li><a href="/backpack/titles">Titles</a></li>
                            <li><a href="/backpack/victories">Victories</a></li>
                        </ul>
                    </li>

                    <li><a href="/achievement">Achievement</a>
                        <ul>
                            <li><a href="/achievements/daily">Daily</a></li>
                            <li><a href="/achievements/weekly">Weekly</a></li>
                            <li><a href="/achievements/stats">Stats</a></li>
                            <li><a href="/achievements/gamemodes">Gamemodes</a></li>
                            <li><a href="/achievements/general">General</a></li>
                            <li><a href="/achievements/honored_one">Honored One</a></li>
                            <li><a href="/achievements/vessel">Vessel</a></li>
                            <li><a href="/achievements/restless_gambler">Restless Gambler</a></li>
                            <li><a href="/achievements/ten_shadows">Ten Shadows</a></li>
                            <li><a href="/achievements/perfection">Perfection</a></li>
                            <li><a href="/achievements/blood_manipulator">Blood Manipulator</a></li>
                            <li><a href="/achievements/switcher">Switcher</a></li>
                            <li><a href="/achievements/defence_attorney">Defense Attorney</a></li>
                            <li><a href="/achievements/cursed_partners">Cursed Partners</a></li>
                            <li><a href="/achievements/locust_guy">Locust Guy</a></li>
                            <li><a href="/achievements/star_rage">Star Rage</a></li>
                            <li><a href="/achievements/aspiring_mangaka">Aspiring Mangaka</a></li>
                            <li><a href="/achievements/puppet_master">Puppet Master</a></li>
                            <li><a href="/achievements/head_of_the_hei">Head of the Hei</a></li>
                            <li><a href="/achievements/salaryman">Salaryman</a></li>
                        </ul>
                    </li>
                </ul>
            </main>
        </div>

{% endblock %}